
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/usuario/0>">crear usuario</a>
    <h1>Listado</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>email</th>
                <th>contraseña</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach((user) => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.nombre %></td>
                <td><%= user.email %></td>
                <td><%= user.contraseña %></td>
                <td><a href="/usuario/<%=user.id%>">editar usuario</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
